<html>
  <head>
    <title>Meu Dinheiro</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <section class="header">
      <img src="images/meu-dinheiro.png" >
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calculadora">Calculadora</a></li>
        <li><a href="/operacoes">Operações</a></li>
        <li><a href="/nova-operacao">Nova Operação</a></li>
      </ul>
    </section>
    <section class="content">