<% include header %>
      <h2>Novo operação</h2>
      <form method="POST">
        Descrição: <input type="text" name="descricao"><br>
        Valor: <input type="text" name="valor"><br>
        <button type="submit">Calcular</button>
      </form>
<% include footer %>